*{  /* reset browse's default value */
  box-sizing:border-box;
}

body{
  background-color:#242F44;
}

.container{
  display:grid;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
  grid-auto-rows: 100px;
  grid-template-areas:
      ". . . . . sm" /* positioning the top right menu */
      ". mm mm mm mm ."
      ". . . . . . "
      ". . li li . ."
      ". . li li . ."
      ". . li li . ."



}
/* top right menu styles start here */
.topRightMenu{
grid-area:sm;
}

 .topRightMenu ul li{
  width: 70px;
  list-style:none;
  display: inline-block;
}

.topRightMenu ul li a{
 text-decoration: none;
 color:#FFFFFF;
 font-size:18px;

}

/*  top right menu styles end here */

/* main menu styles start here */
.mainMenu{
grid-area:mm;
}

.mainMenu ul li{
  display:inline-block;
  list-style:none;
  border:1px solid gray;
  border-radius:20px;
  padding-right:50px;
  padding-top:10px;
  padding-buttom:10px;

}
.mainMenu ul li a{
  color:#FFFFFF;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50px;
}
/* main menu styles end here */

/* styling the registration form */

.loginForm {
  grid-area: li;
   background-color: gray;
}
