*{  /* reset browse's default value */
  box-sizing:border-box;
}

body{
  background-color:#242F44;
}

.container{
  display:grid;
  grid-template-columns: repeat(6, minmax(30px, 1fr));
  grid-auto-rows: 100px;
  grid-template-areas:
      ". . . . . sm" /* positioning the top right menu */
      ". mm mm mm mm ."
      ". . rf rf . . "
      ". . rf rf . ."
      ". . rf rf . ."
      ". . rf rf . ."
      ". . rf rf . ."
      ". . rf rf . ."
      ". . rf rf . ."
      ". . rf rf . ."
      
     

}
/* top right menu styles start here */
.topRightMenu{
grid-area:sm;
}

 .topRightMenu ul li{
  width: 70px;
  list-style:none;
  display: inline-block;
}

.topRightMenu ul li a{
 text-decoration: none;
 color:#FFFFFF;
 font-size:18px;

}

/*  top right menu styles end here */

/* main menu styles start here */
.mainMenu{
grid-area:mm;
}

.mainMenu ul li{
  display:inline-block;
  list-style:none;
  border:1px solid gray;
  border-radius:20px;
  padding-right:50px;
  padding-top:10px;
  padding-buttom:10px;

}
.mainMenu ul li a{
  color:#FFFFFF;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50px;
}
/* main menu styles end here */

/* styling the registration form */

.regForm {

  grid-area: rf;
   background-color: gray;
}
/* styling the sign up form */
center{
  color:#8c6b48;
  background-color:#FFFFFF;
  font-size:20px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #8C6B48;
  padding:20px;
}

input{
  width: 400px;
  margin-left:10px;
  height: 30px;
}
strong{
  color:#242F44;
  font-size:20px;
  font-family: "Times New Roman", Times, serif;
}

span{
  color:#242F44;
  font-size:20px;
  font-family: "Times New Roman", Times, serif;
}

select{
   width: 400px;
  margin-left:10px;
  height: 30px;
}
#submit{
  border:2px solid #8C6B48;
  width:100px;
  padding:15px;
  margin-top:10px;
  margin-left:180px;
}