*{  /* reset browse's default value */
  box-sizing:border-box;
}

body{
  background-color:#242F44;
}

.container{
  display:grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  grid-auto-rows: 100px;
  grid-template-areas:
      ". . . . . . . ." /* positioning the top right menu */
      "d . c c c c . ."
      "d . c c c c . ."
      "d . . . . . . ."
      ". . p p p p p ."
      ". . p p p p p ."
      

}


.dashboard{
  background-color: #FFFFFF;
  grid-area: d;
  border: 1px solid #8C6B48;
}

a{
  color:#242F44;
  font-size:20px;
  text-decoration:none;
  margin: 20px;
}

input{
  display:inline-block;
  
}


#checkin{
grid-area:c;
background-color:#FFFFFF;


}

table{
  grid-area:p;
  background-color: #FFFFFF;
  border: 1px solid #8C6B48;
}

table td{
  border: 2px solid #8C6B48;
}

